@model SMS_OnlineDemo.Models.User

@{
    Layout = null;
}

<head>
    <link href="@Url.Content("~/Content/mycss.css")" rel="stylesheet" type="text/css" />
</head>

<div class="login-box" style="top:6cm;height:10cm">
    @if (Session["UserName"] != null)
    {
        <span class="badge badge-danger">Đăng nhập thất bại</span>
    }
    else
    {
        <span class="badge badge-danger"></span>
    }

    <div class="col-md-4">
        <div class="card">
            <div>
                <h1 style="color:whitesmoke">Login</h1>
            </div>

            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="user-box">
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="user-box">
                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @placeholder = "PassWord" })
                    </div>



                    <div class="form-group" style="display:flex;margin:10px 10px">
                        <input type="submit" name="submit" class="login-btn" value="Login" style="width:4cm" />
                        @Html.ActionLink("Register", "Register")
                    </div>
                }



            </div>
        </div>
    </div>
</div>
